{
    "training_corpus_file_name":"../../data/pubmed_full/train_PUBMED.jsonl",
    "validation_corpus_file_name":"../../data/pubmed_full/val_PUBMED.jsonl",
    "model_folder":"../../model/MemSum_wo_history/pubmed_full/200dim/run0/",
    "log_folder":"../../log/MemSum_wo_history/pubmed_full/200dim/run0/",
    "vocabulary_file_name":"../../model/glove/vocabulary_200dim.pkl",
    "pretrained_unigram_embeddings_file_name":"../../model/glove/unigram_embeddings_200dim.pkl",
    "n_device":4,
    "batch_size_per_device":2,
    "max_extracted_sentences_per_document":7,
    "p_stop_thres":1.0,
    "moving_average_decay":0.999,
    "max_seq_len":100,
    "max_doc_len":500,
    "num_of_epochs":100,
    "print_every":10,
    "save_every":20,
    "validate_every":20,
    "restore_old_checkpoint":true,
    "learning_rate":1e-4,
    "warmup_step":1000,
    "weight_decay":1e-6,
    "dropout_rate":0.1,
    "num_heads":8,
    "hidden_dim":1024,
    "N_enc_l":2,
    "N_enc_g":2,
    "N_dec":3
}
